*{
    margin: 0;
    font-family: Arial;
    text-align: center;
    
}

h1{
    padding: 20px;
    color: black;
}

header{
    background-color: #8b0000;
}

nav{
    background-color: rgb(202, 2, 2);
    padding: 20px;
}

a {
  text-decoration: 0;
  color: #8b0000;
  text-decoration: none;
  padding: 10px;
  font-size: 20px; 
}

a:hover {
  color: #8b0000;
  background-color: #000000;
  border-radius: 10px;
}