*{
    margin: 0;
    font-family: Arial;
    text-align: center;
    
}

header{
    background-color: #8b0000;
}

nav{
    background-color: rgb(202, 2, 2);
    padding: 20%;
}

a {
  text-decoration: 0;
  color: #8b0000;
  text-decoration: none;
  padding: 10px;
  font-size: 20px; ;
}

a:hover {
  text-decoration: underline;
  color: #8b0000;
  background-color: #000000;
  border-radius: 10px;
}