*{
    margin: 0;
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #8b0000;
}

nav{
    background-color: rgb(0, 0, 0);
}

body {
  font-family: Arial;
  font-size: 15px;
  color: #333;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6{
  color: #000000;
  margin-bottom: 10px;
}
button{
  background-color: #2f3030;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2f3030;
}
.box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: #8b0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

